DATABASE_URL="postgresql://postgres:<YOUR_DB_PASSWORD>@db.<YOUR_PROJECT_REF>.supabase.co:5432/postgres?sslmode=require"
NODE_ENV="development"
IKMAN_URL="https://ikman.lk/en/ads/sri-lanka/vehicles"
LOG_LEVEL="debug"
